<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mybook"
        tools:targetApi="31">
        <activity
            android:name=".IsiatheisActivity"
            android:exported="false" />
        <activity
            android:name=".IsioeroegActivity"
            android:exported="false" />
        <activity
            android:name=".IsiambaActivity"
            android:exported="false" />
        <activity
            android:name=".IsinegeriActivity"
            android:exported="false" />
        <activity
            android:name=".IsiperahuActivity"
            android:exported="false" />
        <activity
            android:name=".IsicantikActivity"
            android:exported="false" />
        <activity
            android:name=".IsisamanActivity"
            android:exported="false" />
        <activity
            android:name=".IsibumimanusiaActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukuatheisActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukuoeroegActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukuambaActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukunegeriActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukuperahuActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukupulangActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukucantikActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukusamanActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TerakhirdilihatActivity"
            android:exported="false" />
        <activity
            android:name=".FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".IsilaskarpelangiActivity"
            android:exported="false" />
        <activity
            android:name=".DetailbukulaskarActivity"
            android:exported="false" />
        <activity
            android:name=".TerbaikmusiminiActivity"
            android:exported="false" />
        <activity
            android:name=".RekomendasiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>